@import './variables/colors.scss';
@import './variables/typography.scss';

.button {
	background-color: white;
	color: black;
	border: 0;
	padding: 0 30px;
	font-size: $button-text;
	cursor: pointer;
	transition: background-color 0.3s ease;
	min-height: 70px;

	&:hover {
		background-color: darken(rgb(228, 228, 228), 10%);
	}

	&:active {
		background-color: darken($alt-color2, 10%)
	}

	&:disabled {
		background-color: gray;
		color: white;
		cursor: not-allowed;
	}
}

.filter-button {
	background-color: transparent;
	border: none;
	padding: 5px !important;

}

.list-button {
	@extend .button;

	min-height: 70px;

	&:nth-child(even) {
		@extend .alt-button
	}
}

.alt-button {
	@extend .button;

	background-color: $button-color;
	color: white;

	&:hover {
		background-color: lighten($button-color, 10%)
	}

	&:active {
		background-color: $alt-color
	}
}

.remove-button {
	@extend .button;

	background-color: $alt-color;
	color: white;

	&:hover {
		background-color: darken($alt-color, 10%)
	}

	&:active {
		background-color: $button-color
	}
}


.icon-button-small {
	min-height: auto;
    padding: 15px;
	border-radius: 5px;
}

.file-upload {
	@extend .button;

	background-color: white;
    border: 1px solid #ccc;
    // display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
