@import './variables/colors.scss';
@import './variables/typography.scss';

input[type=submit], button {
	background-color: white;
	color: black;
	border: 0;
	padding: 30px;
	font-size: $button-text;
	cursor: pointer;
	transition: background-color 0.3s ease;
	height: 80px;

	&:hover {
		background-color: darken(rgb(228, 228, 228), 10%);
	}

	&:active {
		background-color: darken($alt-color2, 10%)
	}

	&:disabled {
		background-color: gray;
		color: white;
		cursor: not-allowed;
	}
}

.list-button {
	height: 100px;

	&:nth-child(even) {
		@extend .button-alt
	}
}

.button-alt {
	background-color: $button-color;
	color: white;

	&:hover {
		background-color: $button-color-hover
	}

	&:active {
		background-color: $alt-color
	}
}

.icon-button-small {
	padding: 20px;
	height: auto;
	border-radius: 5px;
}

.file-upload {
	background-color: white;
    border: 1px solid #ccc;
    // display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
