@import './variables/colors.scss';
@import './variables/typography.scss';

$border-radius: 5px;

.page {
	height: 100vh;
	overflow: scroll;
}

.column {
	display: flex;
	flex-direction: column;
	background-color: $background-color;
}

.row {
	display: flex;
	flex-direction: row;
	background-color: $background-color;
}

.center {
	justify-content: center;
	align-items: center;
	text-align: center;
	align-content: center;
}

.top-header {
	padding: 10px;
	min-height: 70px;
	max-height: 70px;
}

.header-title {
	padding: 10px;
}

.dropdown-menu {
	position: relative;
	background-color: $background-color;
	width: inherit;
	cursor: pointer;
}

.dropdown-menu-root {
	cursor: default !important;
}

input, textarea {
	font-size: 16px;
	color: $text-color;
	padding: 10px;
	background-color: transparent;
	border: 2px solid lighten($alt-color2, 20%);
	border-radius: $border-radius;
	transition: border-color 0.3s ease;

	&:focus {
		outline: none;
		border-color: $alt-color2;
		box-shadow: 0 0 5px darken($alt-color2, 10%);
	}

	&::placeholder {
		color: lighten($alt-color2, 40%);
	}
}

// Style for the buttons
input[type=submit], button {
	@extend button;
	width: 100%;
}

.container {
	border-width: 2px;
	border-color: black;
	border-style: solid;
	overflow-y: auto;
	height: calc(100vh - 94px);
}
