@import './variables/colors.scss';
@import './variables/typography.scss';
@import './general.scss';

.login-header {
	font-size: $medium-text;
}

.login-form {
	
	& > input {
		margin: 20px 0;
	}

	& label {
		@extend .column;
		margin: 10px;

		& span {
			text-align: left;
			margin-bottom: 10px;
		}
	}
}

.register-login-switch {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font: inherit;
  display: inline-block;
	width: auto;

  &:hover {
    background: none;
    text-decoration: underline;
  }
}
