@import './variables/colors.scss';
@import './variables/typography.scss';
@import './general.scss';

.sidebar-margin {
	margin-left: 200px;
}

.login-header {
	background-color: $background-color;
	font-size: $text;
	color: $text-color;
}

.login-form {
	
	& > input {
		margin: 20px 0;
	}

	& label {
		@extend .column;
		margin: 10px;

		& span {
			text-align: left;
			margin-bottom: 10px;
		}
	}
}

.register-login-switch {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font: inherit;
  display: inline-block;
	width: auto;

  &:hover {
    background: none;
    text-decoration: underline;
  }
}
