@import './variables/colors.scss';
@import './variables/typography.scss';
@import './general.scss';
@import './button.scss';

$border-radius: 5px;

.new-form {
	@extend .column;
	justify-content:"space-between";
	flex-wrap: wrap;
	padding: 0 50px;

	// *** STYLE FOR THE CONTAINERS ***
	// Style for the section
	section {
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: solid #000;
		border-width: 1px;

		& header { //content header
			@extend .row;
			@extend .center;
			padding-top: 10px;

			& label {
				@extend .row;
				@extend .center;

				& span {
					@extend .column;
					@extend .center;
					margin-right: 10px;
					padding-bottom: 0;
				}
			}
		}

		& section {
			margin-bottom: 70px;
			border: 0;
		}

		& div { // content
			@extend .row;
			justify-content:"space-between";
			flex-wrap: wrap;

			& div {
				@extend .column;
				justify-content:"space-between";
				flex-wrap: wrap;

				& span {
					@extend .center;
				}
			}
		}
	}

	// Style for the label
	label {
		@extend .center;
		@extend .column;
		align-items: center;
		flex: 1 0 30%;
		margin: 15px;
		
		& span { // content's single label header
			padding-bottom: 10px;
		}
	}

	// *** STYLE FOR THE FIELDS ***
	// Style for the inputs


	textarea {
		width: 100%;
		box-sizing: border-box;
		// height: 60px;
		// min-height: 60px;
		min-width: 300px;
		max-width: 99%;
	}

	// Style for the checkbox
	input[type=checkbox] {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		width: 16px;
		height: 16px;
		border: 2px solid $alt-color2;
		border-radius: 3px;
		outline: none;
		cursor: pointer;
		margin-right: 5px;

		&:checked {
		background-color: $alt-color2;
		border-color: $alt-color2;
		}

		&:hover {
		border-color: darken($alt-color2, 10%);
		}
	}

	// Style for the dropdown
	select {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		font-size: 16px;
		padding: 10px;
		border: 2px solid lighten($alt-color2, 20%);
		border-radius: $border-radius;
		background-color: white; // Override default styles
		cursor: pointer;
		transition: border-color 0.3s ease;

		&:focus {
			outline: none;
			border-color: $alt-color2;
			box-shadow: 0 0 5px darken($alt-color2, 10%);
		}

		& ::after {
			content: '\25BC'; // Unicode for down arrow
			font-size: 16px;
			color: $alt-color2;
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translateY(-50%);
		}

		& :hover::after {
			color: darken($alt-color2, 10%);
		}
	}

	// Style for the table
	table {
		border-collapse: collapse;
		margin-top: 20px;

		textarea {
			resize: vertical;
		}

		& th, td {
			@extend .center;
			border: 1px solid #ddd;
			padding: 8px;
		}

		& th {
			background-color: $alt-color2;
			color: #fff;

			& :nth-child(even) {
				background-color: #f2f2f2;
			}
		}
	}

	// *** STYLE FOR THE TEXT*
	text{
		@extend .text
	}	

}
