@import './variables/colors.scss';
@import './variables/typography.scss';
@import './general.scss';
@import './button.scss';

@mixin labelStyle {
	@extend .column;
	align-items: center;
	flex: 1 0 30%;
	margin: 15px;
}

.form {
	@extend .column;
	padding: 30px;
	justify-content:"space-between";
	flex-wrap: wrap;

	& section {
		padding: 40px 0;
		border-top: solid #000;
		border-width: 3px;

		& header { //content header
			@extend .center;
			padding-bottom: 30px;
		}

		& div { // content
			@extend .row;
			justify-content:"space-between";
			flex-wrap: wrap;
			border-top: solid #000;
			border-width: 1px;

			& label { // content's single label
				@include labelStyle;

				& span { // content's single label header
					padding-bottom: 10px;
				}

				& div > label { // content's single label content
					@include labelStyle;
				}

				& button {
					@extend .button;
				}
			}
		}
	}

	& input[type=submit]  {
		@extend .button;	
	}
}
