@import './variables/colors.scss';
@import './variables/typography.scss';
@import './general.scss';
@import './text.scss';
@import './button.scss';

$border-radius: 5px;

.new-form {
	@extend .column;
	justify-content:"space-between";
	flex-wrap: wrap;
	overflow: hidden;
	height: 100%;
	padding-bottom: 80px;

	& > div {
		padding: 0 50px;
	}

	// *** STYLE FOR THE CONTAINERS ***
	// Style for the section
	section {
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: solid #000;
		border-width: 1px;

		& header { //content header
			@extend .row;
			@extend .center;
			padding-top: 10px;

			& label {
				@extend .row;
				@extend .center;

				& span {
					@extend .column;
					@extend .center;
					margin-right: 10px;
					padding-bottom: 0;
				}
			}
		}

		& section {
			margin-bottom: 70px;
            overflow:scroll;
			border: 0;
		}

		& div { // content
			@extend .row;
			justify-content:"space-between";
			flex-wrap: wrap;

			& div {
				@extend .column;
				justify-content:"space-between";
				flex-wrap: wrap;

				& span {
					@extend .center;
				}
			}
		}
	}

	// Style for the label
	label {
		@extend .center;
		@extend .column;
		align-items: center;
		flex: 1 0 30%;
		margin: 15px;
		
		& span { // content's single label header
			padding-bottom: 10px;
		}
	}

	// *** STYLE FOR THE FIELDS ***
	// Style for the inputs

  input[type=submit] {
    @extend .alt-button;
		position: fixed;
		border: 1px solid white;
		bottom: 0;
		width: calc(100% - 200px);
		z-index: 1;
  }

	// Style for the dropdown
	select {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		font-size: 16px;
		padding: 10px;
		border: 2px solid lighten($alt-color2, 20%);
		border-radius: $border-radius;
		background-color: white; // Override default styles
		cursor: pointer;
		transition: border-color 0.3s ease;

		&:focus {
			outline: none;
			border-color: $alt-color2;
			box-shadow: 0 0 5px darken($alt-color2, 10%);
		}

		& ::after {
			content: '\25BC'; // Unicode for down arrow
			font-size: 16px;
			color: $alt-color2;
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translateY(-50%);
		}

		& :hover::after {
			color: darken($alt-color2, 10%);
		}
	}

	// Style for the table
	table {
		border-collapse: collapse;
		margin-top: 20px;

		textarea {
			color: black;
			width: 100%;
			box-sizing: border-box;
			resize: vertical;
			// min-width: 100px;
			// max-width: 100px;
		}

		& th, td {
			@extend .center;
			border: 1px solid black;
			padding: 8px;
		}

		& th {
			background-color: $alt-color2;
			color: #fff;

			& :nth-child(even) {
				background-color: #f2f2f2;
			}
		}
	}

	// *** STYLE FOR THE TEXT*
	text{
		@extend .medium-text
	}

	.test-container {
		background-color: white;
		padding: 10px;
		margin: 20px;
		color: black;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		width: calc(100vw/2 - 240px);
	
		input, textarea {
			color: black;

            &::placeholder {
                color: rgb(47, 47, 47);
            }
		}

        input {
            width: 50%;
        }

        
	}

	.textarea {
		color: white;
		width: 100%;
		box-sizing: border-box;
		min-width: 300px;
		max-width: 99%;
		resize: vertical;
	}
}

