@import './variables/colors.scss';
@import './variables/typography.scss';

.header-text {
	font-size: $header-text;
}

.large-text {
	font-size: $large-text;
}

.medium-text {
	font-size: $medium-text;
}

.small-text {
	font-size: $small-text;
}