$background-color: #595959;
// $button-color: #b5b5b5;
$alt-color: rgb(105, 30, 30);
$alt-color2:rgb(238, 150, 150);

$button-color: rgb(53, 53, 53);
$button-color-hover: rgb(82, 82, 82);
// $butt

$text-color: white;